@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color: #d1d7e0;
    --disabled: #434d5a;
    --background: rgb(21, 27, 35);
    --background-modal: rgb(21, 27, 35, 0.5);
    --buttons-radius: 10px;
    --success: #4c9e52;
    --failure: #e5534b;
    --card-gap: 20px;
    --card-radius: 10px;
    --card-border: #30363d;
    --card-background: #212830;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--color);
}

button {
    background-color: var(--card-background);
    border: 1px solid var(--card-border);
    border-radius: var(--buttons-radius);
    color: var(--card-color);
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button:hover {
    background-color: var(--card-hover);
    cursor: pointer;
}

button:disabled {
    color: var(--disabled);
}

button:disabled:hover {
    background-color: var(--card-background);
    cursor:auto;
}

.main {
    max-width: calc(600px + 2rem);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 1rem;
}

.logo {
    margin-top: 1rem;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    color: var(--color);
    background-color: var(--card-background);
    border-radius: var(--card-radius);
}

.logo svg {
    fill: var(--color);
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1;
}

.logo h1 {
    text-align: center;
}

.game-state {
    grid-column: 2 / 3;
    border: 1px solid var(--card-border);
    border-radius: var(--card-radius);
    font-weight: bold;
}

.game-state .round { 
    display: inline-block;
    padding: 1rem;
    background-color: var(--card-background);
    border-radius: var(--card-radius) 0 0 var(--card-radius);
    border-right: 1px solid var(--card-border);
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.game-state .state {
    padding: 1rem;
}

#player-1 {
    grid-column: 1 / 2;
    grid-row-start: 3;
    writing-mode: sideways-lr;
    justify-content: center;
}

#player-2 {
    grid-column: 3 / 4;
    grid-row-start: 3;
    writing-mode: sideways-rl;
    justify-content: center;
}

.player-area {
    --player-font-size: max(20px, min(5vw, 38px));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--card-border);
    border-radius: var(--card-radius);
}

.player-area-left {
    grid-column: 1 / 2;
    grid-row-start: 3;
}

.player-area-right {
    grid-column: 3 / 4;
    grid-row-start: 3;
}

.player-symbol, .player-score {
    width: 100%;
    text-align: center;
}

.player-symbol {
    padding: 1rem;
    background-color: var(--card-background);
    border-bottom: 1px solid var(--card-border);
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
}

.player-symbol img {
    width: 70%;
    height: auto;
    aspect-ratio: 1;
}

.player-name {
    padding: 0.5rem;
    font-size: var(--player-font-size);
}

.player-left {
    writing-mode: sideways-lr;
}

.player-right {
    writing-mode: sideways-rl;
}

.player-score .title, .player-score .value {
    padding: 0.5rem 0;
    font-weight: bold;
    text-transform: uppercase;
}

.player-score .title {
    background-color: var(--card-background);
    border-top: 1px solid var(--card-border);
    border-bottom: 1px solid var(--card-border);
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.player-score .value {
    font-size: calc(var(--player-font-size) * 0.8);
}

#board {
    grid-column: 2 / 3;
    width: 100%;
    aspect-ratio: 1;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    text-align: center;
    align-content: center;
    aspect-ratio: 1;
    background-color: var(--card-background);
    border: 1px solid var(--card-border);
    border-radius: var(--card-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 80%;
    height: 80%;
}

.controls {
    grid-column: 2 / 3;
    display: flex;
    gap: 1rem;
    border: 1px solid var(--card-border);
    border-radius: var(--card-radius);
    padding: 0.5rem;
}

.controls button {
    padding: 1rem;
    text-transform: uppercase;
}